backend/node_modules
frontend-dist/
frontend/node_modules
frontend/build
frontend/dist
node_modules
frontend/.DS_Store
frontend/.env
.env
frontend/.gitignore
all_customers.json
api_response.json
backend/data/db/database.db
backend/nohup.out
supabase_schema.sql
test*
.database.db
specific_customer.json
tmp/
updated_customer.json
backend/data/*.sql
*.sh
backend/*.sql
dist/.DS_Store
dist/*.zip
dist/*
frontend/dist
backend/data/db/database.db
backend/data/db/database.sqlite
logs/*
troubleshoot.js
test_restock.json
distWorking
.vercel
frontend/pnpm-lock.yaml
backend/pnpm-lock.yaml
pnpm-workspace.yaml